[Unit]
Description=LTPS NodeJS Test Application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/zassu/proyectos/gits/pagina_con_nodejs/autosapp/pruebas
ExecStart= /usr/bin/node /zassu/proyectos/gits/pagina_con_nodejs/autosapp/pruebas/pruebadeservidor.js

[Install]
WantedBy=multi-user.target